body {
  margin: 0;
  font-family: helvetica;
  text-align: center;
}

#logo{
  height: 80px;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
